$title-color: #666666;
$slider-arrow-background: #595659;

$title-font-size: 36px;
$title-signature-font-size: 14px;
$slider-width: 570px;
$slider-height: 346px;
$slider-arrow-font-size: 20px;
$description-button-font-size: 15px;
$description-title-font-size: 20px;
$description-text-font-size: 14px;

.about-us {
    width: 100%;
    background-size: cover;
    height: 100vh;
}

.main-menu_shaded {
    border-top: solid 3px $button-background;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.main-menu__item_color_dark {
    & > a {
        color: $main-menu-item-background;
    }
}

.about-us__logo {
    @extend %intro__logo;

    color: $main-menu-item-background;
    border: solid 1px $main-menu-item-background;
}

.about-us__logo-title {
    @extend %intro__logo-title;
}

.about-us__logo-title_color_orange {
    color: $button-background;
}

.about-us__content {
    z-index: 0;
    margin-top: 120px;
    font-family: $open-sans-font;
    text-align: center;
    color: $title-color;
}

.about-us__title {
    display: inline-block;
    padding-bottom: 5px;
    font-size: $title-font-size;
    border-bottom: solid 2px $title-color;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.about-us__title-signature {
    color: $title-color;
    font-size: $title-signature-font-size;
    font-weight: 300;
}

.about-us__slider {
    margin-top: 80px;
    margin-right: 30px;
    float: left;
    background: url(../../Images/about-us-image.png);
    background-size: cover;
    overflow: hidden;
    width: $slider-width;
    height: $slider-height;
    box-shadow: 0 10px 20px #777;
}

%about-us__slider-arrow-shared {
    color: white;
    font-size: $slider-arrow-font-size;
    border: solid 1px white;
    background: $slider-arrow-background;
    opacity: 0.5;
    padding: 15px 20px;
    margin-top: 173px;
    transform: translateY(-50%);
    outline: none;
    cursor: pointer;

    &:hover {
        color: $button-background;
        border-color: $button-background;
        background: white;
        opacity: 1;
    }
}

.about-us__slider-arrow-left {
    @extend %about-us__slider-arrow-shared;
    float: left;
    margin-left: 20px;
}

.about-us__slider-arrow-right {
    @extend %about-us__slider-arrow-shared;
    float: right;
    margin-right: 20px;
}

%about-us__description-button-shared {
    text-transform: uppercase;
    border: solid 1px $button-background;
    background: $button-background;
    margin-right: 30px;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: $common-border-radius;
    color: white;
    margin-top: 30px;
    font-size: $description-button-font-size;
    outline: none;

    &:hover {
        background: white;
        color: $button-background;
    }
}

.about-us__description {
    margin-top: 80px;
    text-align: left;
}

.about-us__description-title {
    font-size: $description-title-font-size;
    font-weight: 600;
    margin-bottom: 25px;
}

.about-us__description-text {
    font-size: $description-text-font-size;
}

.about-us__description-text_detached {
    margin-top: 25px;
    margin-bottom: 25px;
}

.about-us__description-button {
    @extend %about-us__description-button-shared;
}

.about-us__description-text_style_oblique {
    font-style: oblique;
}
