$background-color: #303030;
$contact-color: #a6a5a5;
$service-description-color: #a6a5a5;

$section-width: 270px;
$section-title-font-size: 20px;

@import './company-info/_contacts-section.scss';

@import './company-info/_posts-section.scss';

@import './company-info/_services-section.scss';

@import './company-info/_form-section.scss';
