$background-color: #303030;
$contact-color: #a6a5a5;
$service-description-color: #a6a5a5;
$asterix-color: red;

$section-width: 270px;
$section-title-font-size: 20px;
$contacts-link-width: 40px;
$contacts-link-height: 40px;
$contacts-link-font-size: 16px;
$contacts-font-size: 14px;
$post-description-font-size: 13px;
$post-description-width: 200px;
$post-title-font-size: 14px;
$service-button-width: 100%;
$service-button-font-size: 14px;
$collapsible-icon-width: 18px;
$collapsible-icon-height: 19px;
$collapsible-icon-font-size: 14px;
$form-font-size: 14px;
$form-field-width: 100%;
$input-field-width: 235px;
$textarea-height: 120px;
$input-placeholder-word-spacing: 210px;
$textarea-placeholder-word-spacing: 196px;

.company-info {
    padding-bottom: 105px;
    padding-top: 55px;
    background: $background-color;
}

%company-info__section-shared {
    vertical-align: top; /* fix for different child heights */
    display: inline-block;
    text-align: left;
    width: $section-width;
    margin-right: 25px;
    font-family: $open-sans-font;
    color: white;
}

.section-title {
    font-size: $section-title-font-size;
    margin-bottom: 30px;
    font-weight: 300;
}

.section-title-icon {
    margin-right: 10px;
}

.company-info__contacts-section {
    @extend %company-info__section-shared;
    font-size: $contacts-font-size;
}

.company-info__contact-link {
    display: inline-block;
    color: white;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    font-size: $contacts-link-font-size;
    width: $contacts-link-width;
    height: $contacts-link-height;
    text-align: center;
    cursor: pointer;

    &:nth-last-of-type(1) {
        margin-right: 0px;
    }

    &:hover {
        color: $background-color;
        background-color: white;
    }
}

.company-info__contact-link-icon {
    display: inline-block;
    margin-top: 50%;
    transform: translateY(-50%);
}

.company-info__contacts-signature {
    width: inherit;
    display: inline-block;
}

.company-info__single-contact {
    width: inherit;
    margin-top: 20px;

    &:nth-last-of-type(1) {
        margin-bottom: 20px;
    }
}

.company-info__contact-value {
    color: $contact-color;
}

.company-info__posts-section {
    @extend %company-info__section-shared;
}

.company-info__single-post {
    margin-bottom: 25px;
    overflow: auto; /* float fix for container */

    &:nth-last-of-type(1) {
        margin-bottom: 0px;
    }
}

.company-info__post-image {
    float: left;
}

.company-info__post-description {
    font-size: $post-description-font-size;
    float: right;
    width: $post-description-width;
}

.company-info__post-title {
    display: block;
    color: white;
    font-size: $post-title-font-size;
    margin-bottom: 10px;
}

.company-info__post-text {
    display: inline-block;
    color: $contact-color;
}

.company-info__post-text_color_orange {
    color: $button-background;
}

.company-info__services-section {
    @extend %company-info__section-shared;
}

.company-info__single-service {
    width: inherit;
    color: white;
    border-bottom: solid 1px white;

    &:nth-of-type(1) {
        border-top: solid 1px white;
    }
}

.company-info__service-checkbox {
    display: none;

    &:checked ~ .company-info__service-label .company-info__service-plus-icon {
        display: none;
    }

    &:checked ~ .company-info__service-label .company-info__service-minus-icon-wrapper {
        display: inline-block;
    }

    &:checked ~ .company-info__service-description {
        display: inline-block;
    }
}

.company-info__service-label {
    display: block;
    font-family: $open-sans-font;
    width: $service-button-width;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    font-size: $service-button-font-size;
    color: white;
    padding: 15px 0px;
}

.company-info__service-description {
    font-size: $post-description-font-size;
    color: $service-description-color;
    display: none;
    overflow: hidden;
    margin-bottom: 15px;
}

%company-info__collapsible-icon-shared {
    float: right;
    color: white;
    margin-right: 10px;
    background-color: $button-background;
    border-radius: 50%;
    font-size: $collapsible-icon-font-size;
    width: $collapsible-icon-width;
    height: $collapsible-icon-height;
    text-align: center;
}

.company-info__service-plus-icon {
    @extend %company-info__collapsible-icon-shared;
}

.company-info__service-minus-icon-wrapper {
    @extend %company-info__collapsible-icon-shared;
    display: none;
}

.company-info__service-minus-icon {
    display: inline-block;
    transform: translateY(-10%);
}

.company-info__form-section {
    @extend %company-info__section-shared;
    margin-right: 0px;
}

.company-info__contact-form {
    width: inherit;
    font-size: $form-font-size;
}

.company-info__form-input,
.company-info__form-textarea {
    font-family: $open-sans-font;
    border-radius: $common-border-radius;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
}

.company-info__form-field-wrapper {
    position: relative;
    padding: 0px 0px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 15px;
    width: $form-field-width;
}

.company-info__form-input {
    width: $input-field-width;
    padding-top: 10px;
    padding-bottom: 10px;
}

.company-info__form-input:valid + .company-info__form-input-placeholder {
    display: none;
}

.company-info__form-input-placeholder {
    position: absolute;
    left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.company-info__form-input-placeholder::before {
    content: attr(data-placeholder);
    color: $contact-color;
}

.company-info__form-input-placeholder::after {
    content: "*";
    color: $asterix-color;
}

.company-info__form-input-icon {
    display: inline-block;
    color: $contact-color;
}

.company-info__form-textarea {
    padding-top: 10px;
    width: $input-field-width;
    resize: none;
    height: $textarea-height;
}

.company-info__form-textarea-icon {
    float: right;
    margin-right: 8px;
    padding-top: 10px;
    color: $contact-color;
}

.company-info__form-textarea:valid + .company-info__form-input-placeholder {
    display: none;
}

.company-info__form-button {
    @extend %about-us__description-button-shared;
    float: right;
    margin-right: 0;
    font-family: $open-sans-font;
    margin-top: 5px;
    padding: 8px 23px;
    border: none;
}
