$container-width: 1170px;
$common-border-radius: 3px;

$icon-color: #ff7200;
$button-color: #ff7200;
$highlighted-color: #ff7200;

$open-sans-font: 'Open Sans', sans-serif;
$source-sans-font: 'Source Sans Pro', sans-serif;
$font-awesome-font: 'FontAwesome';

/* Responsive sizes */

$phone-width: 599px;
$tablet-portrait-up-width: 600px;
$tablet-landscape-up-width: 900px;
$desktop-up-width: 1200px;
