$main-menu-item-background: #343434;
$slider-arrow-color: #c7c7c7;
$submenu-link-color: #858585;

$background-url: url(../../Images/BG.png);
$main-menu-item-font-size: 14px;
$title-font-size: 72px;
$logo-width: 170px;
$logo-font-size: 40px;
$logo-signature-font-size: 10px;
$slider-arrow-font-size: 100px;
$info-section-font-size: 20px;

.intro {
    background: $background-url;
    width: 100%;
    background-size: cover;
    height: 100vh;
}

%main-menu {
    padding-top: 35px;
    text-transform: uppercase;
    text-align: center;
}

.main-menu {
    @extend %main-menu;
}

%main-menu__item {
    z-index: 1;
    padding-bottom: 35px; /* hover-fix */
    position: relative;
    display: inline-block;
    font-family: $open-sans-font;
    font-size: $main-menu-item-font-size;
    font-weight: bold;
    transform: translateY(-50%);

    &:hover > ul {
        display: block;
        position: absolute;
    }

    & > a {
        padding: 10px 15px;
        color: white;
    }

    &:hover {
        & > a {
            color: $orange-color;
            background: $main-menu-item-background;
            border-radius: $common-border-radius;
        }
    }
}

.main-menu__item {
    @extend %main-menu__item;
}

%submenu-shared {
    padding: 25px 0px 25px 18px;
    white-space: nowrap;
    display: none;
    background: $main-menu-item-background;
    font-size: $main-menu-item-font-size;
    font-family: $open-sans-font;
    font-weight: 300;
    text-align: left;
}

%submenu__item-shared {
    padding-right: 12px; /* hover-fix */
    display: block;
    position: relative;
    margin-bottom: 25px;

    &:hover > ul {
        display: block;
        position: absolute;
    }

    & > a {
        @extend %submenu__link-shared;
    }
}

%submenu__link-shared {
    color: $submenu-link-color;

    & > i:nth-of-type(odd) {
        margin-right: 10px;
        transform: translateY(-50%);
        font-size: 5px;
    }

    & > i:nth-of-type(even) {
        float: right;
        font-size: 10px;
        transform: translateY(+50%);
    }

    &:hover {
        color: white;
    }
}

%submenu {
    @extend %submenu-shared;
    margin-top: 30px;
    border-radius: $common-border-radius $common-border-radius 0px $common-border-radius;
}

.submenu {
    @extend %submenu;
}

%submenu__item {
    @extend %submenu__item-shared;

    ul {
        @extend %submenu-shared;
        left: 100%;
        top: -25px;
        border-radius: 0px $common-border-radius $common-border-radius $common-border-radius;

        li {
            @extend %submenu__item-shared;

            &:nth-last-of-type(1) {
                margin-bottom: 0px;
            }
        }
    }
}

.submenu__item {
    @extend %submenu__item;
}

.submenu__item:nth-last-of-type(1) {
    margin-bottom: 0px;
}

%intro__logo {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-family: $source-sans-font;
    border: solid 1px white;
    text-align: center;
    width: $logo-width;
    padding-bottom: 10px;
    font-size: $logo-signature-font-size;
    font-weight: 400;
}

.intro__logo {
    @extend %intro__logo;
}

%intro__logo-title {
    font-size: $logo-font-size;
    font-weight: 300;
}

.intro__logo-title {
    @extend %intro__logo-title;
}

.intro__content {
    width: 100%;
    box-sizing: border-box; /* slider arrow fix */
    z-index: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: $open-sans-font;
    text-align: center;
    text-transform: uppercase;
}

%intro__slider-button-shared {
    color: $slider-arrow-color;
    border: none;
    background: transparent;
    outline: none;
}

.intro__slider-arrow-icon {
    font-size: $slider-arrow-font-size;
    display: block;

    &:hover {
        color: white;
        cursor: pointer;
    }
}

.intro__slider-button-left {
    @extend %intro__slider-button-shared;
    float: left;
    margin-left: 25px;
}

.intro__slider-button-right {
    @extend %intro__slider-button-shared;
    float: right;
    margin-right: 25px;
}

.intro__title {
    color: white;
    font-size: $title-font-size;
    font-weight: 300;
}

%intro__info-button-shared {
    color: white;
    border: solid 1px white;
    padding: 25px 50px;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

    &:hover {
        background: white;
        color: $main-menu-item-background;
    }
}

.intro__info-buttons-group {
    transform: translateY(-70%);
    overflow: hidden;
}

.intro__info-button {
    @extend %intro__info-button-shared;
    margin-right: 30px;

    &:nth-last-of-type(1) {
        margin-right: 0px;
    }
}

.intro__info-sections-group {
    margin-bottom: 60px;
    margin-top: -50px;
    font-size: $info-section-font-size;
    color: white;
}

.intro__info-section-link {
    color: white;

    &:hover {
        color: $orange-color;
    }
}

.intro__info-section-icon {
    display: inline-block;
    font-size: 8px;
    transform: translateY(-35%);
}

.intro__about-us {
    font-family: $open-sans-font;
    color: white;
    text-transform: none;
    text-align: center;
}

.intro__about-us-title {
    font-size: 16px;
}

.intro__about-us-button {
    @extend %intro__info-button-shared;
    padding: 20px 35px;
    transform: translateY(-35%);
}
