$title-color: #666666;
$employee-link-background: #f0f0f0;

$single-employee-width: 270px;
$employee-name-font-size: 16px;
$employee-link-width: 42px;
$employee-link-height: 45px;
$employee-link-font-size: 18px;

.we-are-team {
    @extend %we-are-amazing__title-signature;
    margin-bottom: 20px;
}

.we-are-team__centering-limiter {
    @include centering-limiter($container-width);

    @include for-phone-only {
        @include centering-limiter($phone-width);
    }

    @include for-tablet-portrait-up {
        @include centering-limiter($tablet-portrait-up-width);
    }
}

.we-are-team__title-underline {
    @extend %we-are-amazing__title-underline;
    color: $title-color;
    background: $title-color;
}

.we-are-team__title-signature {
    @extend %we-are-amazing__title-signature;
    color: $title-color;
}

.we-are-team__title {
    @extend %we-are-amazing__title;
    color: $title-color;

    @include for-phone-only {
        margin-top: 0px;
    }

    @include for-tablet-portrait-up {
        margin-top: 0px;
    }
}

.we-are-team__employes {
    display: flex;
    justify-content: space-between;

    @include for-phone-only {
        flex-direction: column;
        align-items: center;
    }

    @include for-tablet-portrait-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
}

.we-are-team__single-employee {
    box-sizing: border-box; /* fix for employes line */
    width: $single-employee-width;

    @include for-phone-only {
        margin-bottom: 80px;
        width: auto;
    }

    @include for-tablet-portrait-up {
        margin-bottom: 80px;
        width: auto;
    }
}

.we-are-team__employee-avatar {
    margin-bottom: 30px;
}

.we-are-team__employee-name {
    margin-bottom: 0px;
    color: $title-color;
    font-size: $employee-name-font-size;
}

.we-are-team__employee-name_highlighted {
    color: $highlighted-color;
}

.we-are-team__employee-description {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $title-color;
    font-size: $employee-name-font-size;
    font-weight: 300;

    @include for-phone-only {
        text-align: center;
    }

    @include for-tablet-portrait-up {
        text-align: center;
    }
}

.we-are-team__employee-contact-links {
    display: flex;
    justify-content: space-between;
}

.we-are-team__employee-contact-link {
    display: inline-block;
    color: $title-color;
    background-color: $employee-link-background;
    border-radius: 50%;
    font-size: $employee-link-font-size;
    width: $employee-link-width;
    height: $employee-link-height;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: $button-color;
    }
}

.we-are-team__employee-contact-icon {
    display: inline-block;
    margin-top: 50%;
    transform: translateY(-50%);
}
