$background-url: url(../../Images/we-are-amazing.png);
$horizontal-line-length: 170px;
$title-font-size: 36px;
$title-signature-font-size: 14px;

$benefit-description-width: 270px;
$benefit-title-font-size: 18px;
$benefit-text-font-size: 14px;
$benefit-icon-size: 36px;

%we-are-amazing__title-signature {
    font-family: $open-sans-font;
    text-align: center;
    color: white;
    font-size: $title-signature-font-size;
    font-weight: 300;
    margin-bottom: 80px;
}

%we-are-amazing__title-underline {
    color: white;
    width: $horizontal-line-length;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 1px;
    background: white;
}

.we-are-amazing__title-underline {
    @extend %we-are-amazing__title-underline;
}

.we-are-amazing__title-signature {
    @extend %we-are-amazing__title-signature;
}

.we-are-amazing {
    background: $background-url;
    background-size: cover;
    text-align: center;
}

.we-are-amazing__centering-limiter {
    @include centering-limiter($container-width);

    @include for-phone-only {
        @include centering-limiter($phone-width);
    }

    @include for-tablet-portrait-up {
        @include centering-limiter($tablet-portrait-up-width);
    }
}

%we-are-amazing__title {
    display: inline-block;
    font-family: $open-sans-font;
    margin-top: 100px;
    font-weight: bold;
    font-size: $title-font-size;
    color: white;
    text-transform: uppercase;
}

.we-are-amazing__title {
    @extend %we-are-amazing__title;
}

.we-are-amazing__benefits {
    margin-top: 80px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include for-phone-only {
        grid-template-columns: 1fr;
    }

    @include for-tablet-portrait-up {
        grid-template-columns: 1fr 1fr;
    }
}

.we-are-amazing__single-benefit {
    text-align: left;
    color: white;
    font-family: $open-sans-font;
    display: flex;
    margin-bottom: 80px;

    @include for-tablet-portrait-up {
        padding-left: 20px;
    }
}

.we-are-amazing__benefit-icon {
    margin-left: auto;
    color: $icon-color;
    font-size: $benefit-icon-size;
}

.we-are-amazing__benefit-description {
    width: $benefit-description-width;
    margin-left: auto;

    @include for-tablet-portrait-up {
        width: auto;
        margin-left: 20px;
    }
}

.we-are-amazing__benefit-title {
    font-size: $benefit-title-font-size;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.we-are-amazing__benefit-text {
    color: white;
    font-size: $benefit-text-font-size;
    font-weight: 300;
}
